/*Content First - Mobile First*/
    /*General Rules*/
        *{
            box-sizing: border-box;
            font-family: 'segoe ui', 'calibri', sans-serif;
        }
        body,
        h1,
        h2,
        h3,
        #header p,
        .menu{
            margin: 0;
        }
    /*Modo Diurno*/
        #mode{ display: none;}
        #mode ~ * .menu label::after{ content: ' Diurno';}
    /*Modo Nocturno*/
        #mode:checked ~ * .menu label::after{ content: ' Nocturno';}
        #mode:checked ~ #header{ 
            background: #333 url('../assets/macos-night.jpg') center/cover;
        }
        #mode:checked ~ *, 
        #mode:checked ~ nav *,
        #mode:checked ~ * h3{ 
            color:#eee;
        }
        #mode:checked ~ * .menu a:hover,
        #mode:checked ~ * .menu label:hover{
            background-color: rgba(204,204,204,.5);
        }
        #mode:checked ~ nav,
        #mode:checked ~ * .colabs { 
            background: linear-gradient(#c28, #208);
        }
        #mode:checked ~ * .colabs caption{ 
            background:#c28; 
        }
        #mode:checked ~ section{ 
            background-color: #151515;
        }
        #mode:checked ~ * .commands,
        #mode:checked ~ * .social{ 
            background-color: #454545; 
        }
        #mode:checked ~ #footer h2{ 
            text-shadow: -2px -2px .25rem #333, 
            2px 2px .25rem #333;
        }
    /*Navigation*/
        nav{
            position: sticky;
            top: 0;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: #8cd linear-gradient(#eac, #ace);
        }
        nav a,
        nav label{
            display: block;
            padding: .5rem;
            color:#333;
            text-decoration: none;
        }
        .logo{
            font-weight: bold;
            text-transform: uppercase;
        }
        .btn{
            cursor: pointer;
            margin: .5rem;
            border-radius: .25rem;
            border: .1rem solid #333;
            color: #333;
            background-color: transparent;
        }
        .btn:hover{
            color:#eac;
            background-color: #333;
        }
        .menu{
            width:100%;
            max-height: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
        }
        .menu.active{ max-height: 900px;}
        .menu a:hover,
        .menu label:hover{
            background-color: rgba(102,102,102,.5);
        }
        body{
            background: 
                linear-gradient(#fffe, #eeee),
                url(../assets/icon-git.png) center/60px;
        }
        .dark{ 
            background: 
                linear-gradient(#111e, #333e),
                url(../assets/icon-git.png) center/60px;
        }
    /*Cabecera*/
        #header{
            height: min(100vh, 720px);
            display: grid;
            justify-content: center;
            align-content: center;
            padding: .5rem;
            color: #eee;
            text-shadow: 0 0 .5rem #eee;
            background: #333 url('../assets/macos-day.jpg') center/cover;
            text-align: center;
            font-size: calc(2vw + .8rem);
        }
    /*Contenido Principal*/
        section{
            margin: 1rem;
            border-radius: .25rem;
            padding: 1rem;
            box-shadow: 0 0 .5rem #333;
            background-color: #fff8;
        }
        article h3{
            padding: .2rem;
            color: #333;
            border-bottom: .1rem solid #333;
        }
        .commands,
        .social{
            margin: 1rem;
            margin-left: 2.5rem;
            border-left: .25rem solid #8cd;
            padding: 1rem;
            background-color: #eee;
            list-style: none;
            line-height: 1.5rem;
        }
    /*Pie de Pagina*/
        #footer{
            position: relative;
            margin: 1rem;
            border-radius: .25rem;
            padding: 1rem;
            box-shadow: 0 0 .5rem #333;
        }
        #footer h2{
            text-shadow:
                -2px -2px #eee,
                2px 2px #eee;
        }
        #footer iframe,
        #footer .btn{
            position: absolute;
            top:0;
        }
        #footer iframe{
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        #footer .btn{
            right: 0;
            font-size: 1.2rem;
        }
        #footer .btn::before{
            content: '+';
        }
        #footer .btn.active::before{
            content: '-';
        }
        #footer iframe.active,
        #footer .btn.active{
            position: fixed; 
            z-index: 2;
            opacity: .8;
        }
        #footer form{
            overflow: auto;
        }
    /*Tabla Colaboradores*/        
        .colabs{
            width: 100%;
            max-width: 540px;
            margin: auto;
            background: linear-gradient(#eac, #ace);
            border-collapse: collapse;
        }
        .colabs caption{
            border-radius: .25rem .25rem  0 0;
            background-color: #eac;
        }
        .colabs caption,
        .colabs th,
        .colabs td{
            padding: .5rem;
        }
        .colabs thead{ text-align: left; }
        .colabs tbody tr:nth-child(odd){ background-color: #ccc4;}
        .colabs tbody tr:nth-child(even){ background-color: #eee4;}
    /*Redes Sociales*/
        .social a{
            position: relative;
            display: inline-block;
            border-radius: .25rem;
            padding: .25rem .5rem;
            color:#eee;
            background-color: #333;
            text-decoration: none;
        }
        .social a:hover{
            bottom: .25rem;
            background-color: #448;
        } 
/*Small Devices - Smartphones*/
    @media screen and (min-width: 576px){
        section{ 
            max-width: 540px;
            margin: 1rem auto;
        }
    }
/*Medium Devices - Tablets*/
    @media screen and (min-width: 768px){
        section{ max-width: 720px }
    /*Navigation*/
        nav .btn{
            display: none;
        }
        .menu{
            width: auto;
            max-height: 900px;
            display: flex;
        }
    }
/*Large Devices - Desktop*/
    @media screen and (min-width: 992px){
        section{ max-width: 960px }
    }
/*Extra Large Devices - HD Desktop*/
    @media screen and (min-width:1200px){
    /*Navigation*/
        nav{ justify-content: space-around }
    }

